<h1>Thanks for your message</h1>
<p>We'll be in touch as soon as possible</p>


<strong>Name: </strong><%= @name %><br>
<strong>Email: </strong><%= @email %><br>
<strong>Message: </strong><%= @message %><br>
