<h1>Thanks for your message</h1>
<p>We'll be in touch as soon as possible</p>


<strong>Name: </strong><%= params[:name] %><br>
<strong>Email: </strong><%= params[:email] %><br>
<strong>Company: </strong><%= params[:company] %><br>
<strong>Message: </strong><%= params[:message] %><br>
