      <!-- HEADERBAR -->

      <div class="container-fluid headerbar">
      <div class="container">
        <div class="col-md-12">
            
            <h2>Our story</h2>

        </div>
      </div>
      </div> <!--Headerbar-->


    <div class="container paddingtop">

      <div class="row about-us">
        <div class="col-md-8">
          
          <p class="lead">Who</p>
          <p>Research24 is a New Zealand based startup company. We count a data analyst, a web developer, and UI designer among our ranks.</p>
          <p class="lead">What</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris posuere metus ut nisl malesuada pellentesque. Vivamus tempus, leo in dignissim congue, justo est congue urna, eu porta lacus urna fermentum sem. Phasellus venenatis tempus elementum. Lorem ipsum dolor sit amet, </p>
          <p class="lead">Why</p>
          <p>Consectetur adipiscing elit. Nunc dignissim consequat risus id aliquam. Vivamus fringilla metus in elit convallis mattis. Cras luctus suscipit lectus porttitor rhoncus. Donec eget sodales leo. Pellentesque at nisi viverra lacus accumsan convallis vel ut lectus. Maecenas magna ante, laoreet eget vestibulum vitae, pharetra sed sapien.</p>


        </div>
      </div>
      