<!-- FOOTER -->

    <div class="container">
      <hr>

      <footer>
        <ul class="list-inline">
          <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Contact", contact_input_path %></li>
          <li><a href="faq.html">FAQs</a></li>
          <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Privacy Policy</a></li>          
        </ul>
        <p>&copy; Research24 2014</p>
      </footer>

    </div> <!-- /Footer -->